<div>
    <a routerLink="/orders/create">Create order</a>

    <select name="statusFilter" [(ngModel)]="statusFilter" (change)="getOrders()">
        <option value="">All</option>
        <option>CREATED</option>
        <option>AWAITING_APPROVAL</option>
        <option>APPROVED</option>
        <option>DECLINED</option>
        <option>UNDER_DELIVERY</option>
        <option>FULFILLED</option>
        <option>CANCELLED</option>
    </select>

    <button (click)="prevPage()">Previous</button>
    <select name="pageSize" [(ngModel)]="pageSize" (change)="getOrders()">
        <option [value]="1">1</option>
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
    </select>
    <button (click)="nextPage()">Next</button>
</div>

<ul>
    <li *ngFor="let order of orders">
        <a routerLink="/orders/{{order.id}}">
            <span>{{ order.id }}</span>
            <span>{{ order.status }}</span>
            <span>{{ order.submittedDate }}</span>

            <a type="button" routerLink="/orders/{{order.id}}/edit">Edit</a>
        </a>
    </li>
</ul>
