<div>
    <a routerLink="/orders/create">Create order</a>

    <select name="statusFilter" [(ngModel)]="statusFilter" (change)="getOrders()">
        <option value="">All</option>
        <option>CREATED</option>
        <option>AWAITING_APPROVAL</option>
        <option>APPROVED</option>
        <option>DECLINED</option>
        <option>UNDER_DELIVERY</option>
        <option>FULFILLED</option>
        <option>CANCELLED</option>
    </select>
</div>

<ul>
    <li *ngFor="let order of orders">
        <a routerLink="/orders/{{order.id}}">
            <span>{{ order.id }}</span>
            <span>{{ order.status }}</span>
            <span>{{ order.submittedDate }}</span>

            <a type="button" routerLink="/orders/{{order.id}}/edit">Edit</a>
        </a>
    </li>
</ul>
