<div>
    <a routerLink="/items/create">Create item</a>

    <button (click)="prevPage()">Previous</button>
    <select name="pageSize" [(ngModel)]="pageSize" (change)="getItems()">
        <option [value]="1">1</option>
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
    </select>
    <button (click)="nextPage()">Next</button>
</div>

<ul>
    <li *ngFor="let item of items">
        <a routerLink="/items/{{item.id}}">
            <span>{{ item.id }}</span>
            <span>{{ item.name }}</span>
            <span>{{ item.quantityInStock }}</span>

            <a type="button" routerLink="/items/{{item.id}}/edit">Edit</a>
        </a>
    </li>
</ul>
